.button:default {
    -fx-font-size: 14pt;
    -fx-background-color: cyan;
}
.button {
    -fx-font-size: 12pt;
    -fx-background-color: yellow;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-border-insets: 2px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: lightgrey;
    -fx-rotate: 30;
}

.button:pressed {
    -fx-background-color: grey;
}

#heure3 {
    -fx-rotate:180;
}
